<div class="calculator">
  <div class="display">
    <h2 class="text-result">{{displayValue}}</h2>
  </div>
  <div class="groupButton">
      
        <button type="button" class="btn triple" (click)="resetCalculator()">C</button>
        <button type="button" class="btn operation" (click)="setOperation('div')"> \ </button>
      
        <button type="button" class="btn" (click)="addDigit('7')" >7</button>
        <button type="button" class="btn" (click)="addDigit('8')">8</button>
        <button type="button" class="btn" (click)="addDigit('9')">9</button>
        <button type="button" class="btn operation" (click)="setOperation('x')">x</button>

        <button type="button" class="btn" (click)="addDigit('4')">4</button>
        <button type="button" class="btn" (click)="addDigit('5')">5</button>
        <button type="button" class="btn" (click)="addDigit('6')">6</button>
        <button type="button" class="btn operation" (click)="setOperation('-')">-</button>
      
      
        <button type="button" class="btn " (click)="addDigit('1')">1</button>
        <button type="button" class="btn" (click)="addDigit('2')">2</button>
        <button type="button" class="btn" (click)="addDigit('3')">3</button>
        <button type="button" class="btn operation" (click)="setOperation('+')">+</button>
      
      
        <button type="button" class="btn double" (click)="addDigit('0')" >0</button>
        <button type="button" class="btn" (click)="addDigit('.')">.</button>
        <button type="button" class="btn operation" (click)="setOperation('=')">=</button>
        
      
  </div>
</div>